<footer class="page-footer info-color darken-1" if="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <img class="img-responsive " src="/assets/img/PBDesk/PBDesk.png" height="100" width="100" title="Pinal Bhatt">
        <p class="white-text center-on-small-only"><span class="btxt">Pinal Bhatt</span><br/><em>Software Engineer</em><br/>and of course always on the learning ramp.</p>
        <p class="white-text center-on-small-only"></p>


      </div>
      <hr class="hidden-lg hidden-md">

      <div class="col-md-4">
        <p class="white-text center-on-small-only btxt">Links</p>
        <ul>
          <li><a href="/"  class="grey-text text-lighten-3" ><i class="fa fa-home"></i> Home</a></li>
          <li><a class="grey-text text-lighten-3" href="/about/me" target="_blank"><i class="fa fa-user"></i> About Me</a></li>
          <li><a class="grey-text text-lighten-3" href="/about/contact" target="_blank"><i class="fa fa-wpforms"></i> Contact</a></li>
          <li><a class="grey-text text-lighten-3" href="/about/disclaimer" target="_blank"><i class="fa fa-map-pin"></i> Disclaimer</a></li>


        </ul>
      </div>
      <hr class="hidden-lg hidden-md">

      <div class="col-md-4 text-center">
        <p class="white-text text-center">
          Concept perceived, designed & developed by <br/> Pinal Bhatt
        </p>
        <p class="white-text text-center btxt">follow me</p>
          <div class="social" style="text-align: center"><a target="_blank" class="twitter"
                                                                          href="http://twitter.com/PBDesk"><i
                  class="fa fa-twitter"></i></a> <a target="_blank" class="facebook"
                                                    href="https://www.facebook.com/Go.PBDesk"><i
                  class="fa fa-facebook"></i></a> <a target="_blank" class="google-plus"
                                                     href="https://plus.google.com/+Pbdesk"><i
                  class="fa fa-google-plus"></i></a> <a target="_blank" class="linkedin"
                                                        href="http://www.linkedin.com/in/pinalbhatt"><i
                  class="fa fa-linkedin"></i></a> <a target="_blank" class="pinterest"
                                                     href="https://github.com/PBDesk"><i
                  class="fa fa-github"></i></a>
              <a target="_blank" class="pinterest"
                 href="http://blog.pbdesk.com/feed.xml"><i
                      class="fa fa-rss"></i></a>
              <a target="_blank" class="pinterest"
                 href="https://PBDesk.com/about/me"><i
                      class="fa fa-user"></i></a>

          </div>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      <div class="col-md-10 col-md-offset-1">
        &copy;  <a href="http://www.PBDesk.com" target="_blank">PBDesk.com </a> - from the desk of Pinal Bhatt
      </div>
    </div>
  </div>
</footer>