<footer class="page-footer info-color darken-1" if="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-md-offset-1">
        <p class="white-text center-on-small-only btxt">|| Learn ||<br/><em>Blended Learning Pathway</em></p>
        <p class="white-text center-on-small-only">Register for free and start to learn cutting edge technologies.</p>


      </div>
      <hr class="hidden-lg hidden-md">

      <div class="col-md-2">
        <p class="white-text center-on-small-only btxt">Links</p>
        <ul>
          <li><a href="#"  class="grey-text text-lighten-3" >Home</a>
          </li>
          <li><a class="grey-text text-lighten-3" href="#" target="_blank">About</a>
          </li>
          <li><a class="grey-text text-lighten-3" href="" target="_blank">Contact</a>
          </li>
          <li><a class="grey-text text-lighten-3" href="" target="_blank">Disclaimer</a>
          </li>


        </ul>
      </div>
      <hr class="hidden-lg hidden-md">

      <div class="col-md-4 text-center">
        <p class="white-text text-center">
          Concept perceived, designed & developed by <br/> Pinal Bhatt
        </p>
        <p class="white-text text-center btxt">follow me</p>
        <a target="_blank" href="https://www.facebook.com/mdbootstrap" class="btn-floating  fb-bg waves-effect waves-light"><i class="fa fa-facebook"> </i></a>
        <a target="_blank" href="https://twitter.com/MDBootstrap" class="btn-floating  tw-bg waves-effect waves-light"><i class="fa fa-twitter"> </i></a>
        <a target="_blank" href="https://plus.google.com/u/0/b/107863090883699620484/107863090883699620484/posts" class="btn-floating  gplus-bg waves-effect waves-light"><i class="fa fa-google-plus"> </i></a>
        <a target="_blank" href="https://twitter.com/MDBootstrap" class="btn-floating  tw-bg waves-effect waves-light"><i class="fa fa-twitter"> </i></a>
        <a target="_blank" href="https://twitter.com/MDBootstrap" class="btn-floating  tw-bg waves-effect waves-light"><i class="fa fa-twitter"> </i></a>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      <div class="col-md-10 col-md-offset-1">
        &copy; {{copyrightYear}}   <a href="http://www.PBDesk.com" target="_blank">PBDesk.com </a> - from the desk of Pinal Bhatt
      </div>
    </div>
  </div>
</footer>