body {
    margin-top: 70px;
}

.navbar-brand-ttl {
    font-size: 3em;
    text-shadow: 1px 1px 1px #000;
    color: #ffffff !important;
}

.navbar-brand-ttl:hover {
    text-shadow: 2px 3px 3px #000;
}

.jtxt {
    text-align: justify;
}

.btxt {
    font-weight: bold;
}

.top-nav-collapse .navbar-brand-ttl {
    font-size: 2em;
}

.intro-row {
    margin-top: 30px;
}

.card-panel p {
    font-size: 20px;
}

p {
    font-size: 16px;
    line-height: 30px;
    color: #666666;
}

.featured-img {
    margin-top: 20px;
}

.fb-bg {
    background-color: #3B5998;
}

.tw-bg {
    background-color: #55ACEE;
}

.gplus-bg {
    background-color: #DD4B39;
}

footer.page-footer {
    padding-top: 20px;
}

footer.page-footer a {
    line-height: 25px;
}

footer.page-footer a {
    color: #fff;
    font-size: 15px;
}

/****************/

p {
    font-size: 1.25rem;
    line-height: 1.5;
    text-align: justify;
    font-weight: 300;
}

.col-md-5 {
    margin-top: -25px;
}

/******2Col***/

.portfolio-item {
    margin-bottom: 25px;
}

p {
    font-size: 16px;
    line-height: 27px;
    color: #666666;
}

/*******carousal*****/

.carousel {
    height: 50%;
    margin-top: -20px;
}

.navbar {
    z-index: 10;
}


.carousel-inner,
.carousel-inner .item {
    height: 100%;
}


.page-content {
    margin-top: 40px;
    margin-bottom: 40px;
}

/*************************/

.hero-spacer {
    margin-top: 50px;
}

.hero-feature {
    margin-bottom: 30px;
}

p {
    font-size: 16px;
    line-height: 30px;
    color: #666666;
}

.jumbotron p {
    color: #000;
}

/*********rounded pic***************/

.header-image {
    margin-top: -20px;
    display: block;
    width: 100%;
    text-align: center;
    background: url(../img/background.jpg) no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.headline {
    padding: 120px 0;
}

.headline h1 {
    font-size: 130px;
    color: #fff;
}

.headline h2 {
    font-size: 77px;
    color: #fff;
}

.featurette-divider {
    margin: 80px 0;
}

.featurette {
    overflow: hidden;
}

.featurette-image.pull-left {
    margin-right: 40px;
}

.featurette-image.pull-right {
    margin-left: 40px;
}

.featurette-heading {
    font-size: 50px;
}

.col-md-6 {
    margin-top: 50px;
}

.col-md-5 {
    padding-bottom: 20px;
}

@media (max-width: 1200px) {
    .headline h1 {
        font-size: 140px;
    }

    .headline h2 {
        font-size: 63px;
    }

    .featurette-divider {
        margin: 50px 0;
    }

    .featurette-image.pull-left {
        margin-right: 20px;
    }

    .featurette-image.pull-right {
        margin-left: 20px;
    }

    .featurette-heading {
        font-size: 35px;
    }
}

@media (max-width: 991px) {
    .headline h1 {
        font-size: 105px;
    }

    .headline h2 {
        font-size: 50px;
    }

    .featurette-divider {
        margin: 40px 0;
    }

    .featurette-image {
        max-width: 50%;
    }

    .featurette-image.pull-left {
        margin-right: 10px;
    }

    .featurette-image.pull-right {
        margin-left: 10px;
    }

    .featurette-heading {
        font-size: 30px;
    }
}

@media (max-width: 768px) {
    .container {
        margin: 0 15px;
    }

    .featurette-divider {
        margin: 40px 0;
    }

    .featurette-heading {
        font-size: 25px;
    }
}

@media (max-width: 668px) {
    .headline h1 {
        font-size: 70px;
    }

    .headline h2 {
        font-size: 32px;
    }

    .featurette-divider {
        margin: 30px 0;
    }
}

@media (max-width: 640px) {
    .headline {
        padding: 75px 0 25px 0;
    }

    .headline h1 {
        font-size: 60px;
    }

    .headline h2 {
        font-size: 30px;
    }
}

@media (max-width: 375px) {
    .featurette-divider {
        margin: 10px 0;
    }

    .featurette-image {
        max-width: 100%;
    }

    .featurette-image.pull-left {
        margin-right: 0;
        margin-bottom: 10px;
    }

    .featurette-image.pull-right {
        margin-bottom: 10px;
        margin-left: 0;
    }
}

/***simple blog homepae****/

.sidebar {
    margin-top: 40px;
}

p {
    font-size: 16px;
    line-height: 30px;
    color: #666666;
}

.call-to-action-widget {
    padding: 30px;
    margin-top: 30px;
}

/****simple blog post ***/

.sidebar {
    margin-top: 40px;
}

p {
    font-size: 16px;
    line-height: 30px;
    color: #666666;
}

.call-to-action-widget {
    padding: 30px;
    margin-top: 30px;
}

/*****ecomm ***/

.page-content {
    margin-top: 40px;
}

.carousel,
.carousel-inner,
.carousel-inner .item {
    height: 400px;
    margin-bottom: 50px;
}

.item:nth-child(1) {
    background-image: url(../img/carousel/1.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.item:nth-child(2) {
    background-image: url(../img/carousel/2.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.item:nth-child(3) {
    background-image: url(../img/carousel/3.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.item:nth-child(4) {
    background-image: url(../img/carousel/4.png);
    background-repeat: no-repeat;
    background-size: cover;
}


.item:nth-child(5) {
    background-image: url(../img/carousel/5.png);
    background-repeat: no-repeat;
    background-size: cover;
}


p {
    font-size: 16px;
    line-height: 30px;
    color: #666666;
}

.call-to-action-widget {
    padding: 30px;
    margin-top: 30px;
    text-align: center;
}

/****** ecom item */

p {
    font-size: 16px;
    line-height: 30px;
    color: #666666;
}

.thumbnail img {
    width: 100%;
}

.ratings {
    padding-right: 10px;
    padding-left: 10px;
    color: #d17581;
}

.thumbnail {
    padding: 0;
}

.thumbnail .caption-full {
    padding: 9px;
    color: #333;
}

.list-inline {
    max-width: 400px;
    margin: 0;
    padding: 0;
}

.call-to-action-widget {
    padding: 30px;
    margin-top: 30px;
    text-align: center;
}

/* team */

.img-center {
    margin: 0 auto;
}

p {
    font-size: 16px;
    line-height: 30px;
    color: #666666;
}

.embed-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
}

.embed-container iframe, .embed-container object, .embed-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


.social a i{
    display:inline-block;
    width:40px;
    height:40px;
    font-size:16px;
    line-height:40px;
    text-decoration:none;
    text-align:center;
    color:#fff;
    -webkit-transition: all 1.5s ease;
    -moz-transition: all 1.5s ease;
    -ms-transition: all 1.5s ease;
    -o-transition: all 1.5s ease;
    transition: all 1.5s ease;
    width: 30px;
    height: 30px;
    margin-right: 2px;
    margin-left: 2px;
    font-size: 12px;
    line-height: 30px;
    border-radius: 50px;
}

.social a.facebook i{
    background:#1e78ae;
}

.social a.twitter i{
    background:#1ba1e2;
}

.social a.google-plus i{
    background:#f22d0c;
}

.social a.linkedin i{
    background:#2d93cf;
}

.social a.pinterest i{
    background:#dd1617;
}

.social a:hover i{
    background:#000;
}