<header class="jumbotron hero-spacer z-depth-2">
    <h3>Welcome to PBDesk.com </h3>
    <h5>from the desk of Pinal Bhatt</h5>
    <p>Hi! On this site you'll find interesting posts, articles, tutorials, news updates and links on Microsoft.Net, ASP.NET, MVC, WebAPIs, C#, Windows8, Metro Apps, WCF, XAML, JavaScript, jQuery, AngularJS, NodeJS, Social Media, Mobiles, Science & Technology and other random thoughts and opinions.</p>
    <p>
        <a [routerLink]="['Signin']" class="btn btn-info  btn-lg waves-effect waves-light">Sign In</a>
        <a [routerLink]="['Signin']" class="btn btn-warning btn-lg waves-effect waves-light">Explore</a>
        <a [routerLink]="['Demo']" class="btn btn-danger btn-lg waves-effect waves-light">Demo|POCs</a>
    </p>
</header>