<header class="jumbotron hero-spacer z-depth-2">
    <h3>Welcome to PBDesk.com </h3>
    <h5>from the desk of Pinal Bhatt</h5>
    <p>Hi! On this site you'll find interesting posts, articles, tutorials, news updates and links on Microsoft.Net, ASP.NET, MVC, WebAPIs, C#, JavaScript, Angular, Node, Ionic, Meteor, Social Media, Mobiles, Science & Technology and other random thoughts and opinions.</p>

    <p style="text-align: center">
        <a href="http://blog.PBDesk.com" target="_blank" class="btn btn-info  btn-lg waves-effect waves-light">Visit My Blog</a>
       <!-- <a href="http://techdesk.PBDesk.com" target="_blank" class="btn btn-warning btn-lg waves-effect waves-light">Tech Desk</a>-->
    </p>
    <div class="social" style="text-align: center"> follow me at <a target="_blank" class="twitter"
                                                                    href="http://twitter.com/PBDesk"><i
            class="fa fa-twitter"></i></a> <a target="_blank" class="facebook"
                                              href="https://www.facebook.com/Go.PBDesk"><i
            class="fa fa-facebook"></i></a> <a target="_blank" class="google-plus"
                                               href="https://plus.google.com/+Pbdesk"><i
            class="fa fa-google-plus"></i></a> <a target="_blank" class="linkedin"
                                                  href="http://www.linkedin.com/in/pinalbhatt"><i
            class="fa fa-linkedin"></i></a> <a target="_blank" class="pinterest"
                                               href="https://github.com/PBDesk"><i
            class="fa fa-github"></i></a>
        <a target="_blank" class="pinterest"
           href="http://blog.pbdesk.com/feed.xml"><i
                class="fa fa-rss"></i></a>
        <a target="_blank" class="pinterest"
           href="https://PBDesk.com/about-me"><i
                class="fa fa-user"></i></a>

    </div>
</header>